body{
  margin:0;
  /* background-image: url("./images/applestore.jpeg");
  /* background-size: cover;
  background-repeat: no-repeat; */ 
}
           /* setting css properties and animation  */
#owner{
  margin-top: -8%;
  position: absolute;
  margin-left: 37%;
  text-shadow: 2px 2px 2px red;
  /* border: 5px solid black; */
  animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

     /* setting up properties of lists */
ul{
  margin:0px;
  padding:0px;

}
.lists{
  
  display: flex;
  flex-direction: column;
  
  position: absolute;
  margin-top: 17px;
  width: 82%;


  
  height: 190px;
  margin-left: 30px;

 
  border: 3px solid black;
  background-image: url("./images/cover1.jpeg");
 
}
            /* setting up properties for scrren of main lists */
.inside-list{
  background-image: url("./images/iscreen.jpeg");
  background-size: cover;
  width:50%;
  padding: 0px;
  margin:0px;
  height: 100%;
}
li{
  list-style: none;
  background-color:transparent;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 5px;
  padding: 8px; 
}
.inside-coverflow{
  background-image: url("./images/coverflow.jpeg");
  background-size: contain;
  background-repeat: repeat-x;
  height: 250px;
  
}
/* 
li:hover{
background-color:blue;
} */
.toggle-button{
  position: absolute;
  /* margin-top:3%; */
  margin-left:41%;
  width:300px;
  height:280px;
  

  border-bottom-left-radius: 50px;
  border-bottom-right-radius:50px ;
  
}

.outer-container{
  position: relative;
  background-image: url("./images/ipod-screen.jpeg");
  background-repeat: no-repeat;
  margin-top: 150px;
  margin-left: 310px;
  height:220px;
  width: 300px;
}
               /* setting up styles for zingtouch and buttons portion */
.mouse-rotate{
  position: absolute;
  /* margin-top:3%; */
  margin-left:310px;
  width:300px;
  height:280px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius:50px ;
  background-image: url("./images/wheel.jpeg");
}
.menu-btn{
margin-left: 130px;
margin-top:50px;
height:80px;
}
.menu-btn button{
  border: 0px;

 background-color: white;
 color: grey;
 text-transform: uppercase;
}
#menu-btn{
  width: 55px;
}


#enter-btn{
  margin-left: 120px;
  margin-top: -32px;
  height:70px;
  width: 68px;
  border-radius: 50%;
  color:transparent;
   background-color: transparent; 
   border: 1px solid grey;

}
.active {
  background: #2185d0 !important;
  width:100%;
  color: black;
}
              /* setting up styles for displaying music componenets */
.music-card{
  background-image: url("./images/imusic.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  /* width: 300px; */
}
#inside-music{
  position: absolute;
  /* margin-top:3%; */
  
  margin-left:-1px;
  margin-top: 220px;
  z-index: 2;
  width:300px;
  min-height: 150% !important;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius:200px ;
}
#inside-music #menu-btn{
 background-color: white;
 
 color:grey;
 text-transform: capitalize;
  border: hidden;
  margin-top: 10px;

}
#inside-music .menu-btn{
  margin-left: 130px;
  margin-top:19px;
  height:80px;
  }

  #inside-music #enter-btn{
    margin-left: 120px;
    margin-top: -20px;
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-color: grey;
  }



        /* setting up styles for artist components */
  .artist{
    background-image: url("./images/Ed_Sheeran-6886_\(cropped\).jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width:150px;
    height: 170px;
  }
  .artist-info{
    margin-top: -210px;
   margin-left: 125px;
   height: 190px;
   width: 120px;
   color: blanchedalmond;
   background-color: black;
  }
  .artist-info:hover{
    /* background-color: brown; */
    color: chocolate;
  }
  .inside-setting{
    background-image: url("./images/Ed_Sheeran-6886_\(cropped\).jpg");
    background-size: contain;
  }
.music-card{
  /* margin-top: -20px; */
  background-color: white;
 
}
.music-sub-parts{
  margin-top: 10px;
  height: 112px;
}
.singer-image{
  background-image: url("./images/divine.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: max-content;
  background-repeat: repeat-x;
  background-position: center;
  border: 10px solid black;
  margin-top: -4px;
  
 
}

audio{
  width: 240px;
  height: 30px;
  margin-top: 160px;
}

.playlist-screen{
  background-color: transparent;
  background-image: url("./images/music2.jpg");
  width: 250px;
  height: 191px;
  margin-top: -15px;
  background-size: contain;
  background-repeat: repeat-x;
}
.pubg{
  background-image: url("./images/pubg.jpg");
  width: 246px;
  height: 282px;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}
.inside-setting{
  background-image: url("./images/settings1.png");
  width: 300px;
  height: 282px;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}

.song-btn{
  margin-left: -50px;
  /* margin-top:100px ; */
  z-index: 10;
  color: #000;
  
  height: 0px;
}
#song-btn{
  margin-top: 80px;
  height: 20px;
  width: 50px;
  z-index: 5;
  order: 4;
}
#play-btn{
  margin-left: -50px;
  z-index: 3;
  height: 0px;
  margin-left: 150px;
  margin-top: 105px;
  background-color: transparent;
  color:transparent;
}
.song-btn button{
 border: 0px;
 margin-left: -6px;
 background-color: white;
 
 color: grey;
 text-transform: uppercase;
}

